## Na√Øve Bayes Gaussian algorithm

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis

### Data Load

In [2]:
cd C:\Users\kjosh\Downloads

C:\Users\kjosh\Downloads

In [3]:
pwd

'C:\\Users\\kjosh\\Downloads'

In [4]:
df=pd.read_csv("UniversalBank.csv")
df.head(20)

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1
5,6,37,13,29,92121,4,0.4,2,155,0,0,0,1,0
6,7,53,27,72,91711,2,1.5,2,0,0,0,0,1,0
7,8,50,24,22,93943,1,0.3,3,0,0,0,0,0,1
8,9,35,10,81,90089,3,0.6,2,104,0,0,0,1,0
9,10,34,9,180,93023,1,8.9,3,0,1,0,0,0,0
10,11,65,39,105,94710,4,2.4,3,0,0,0,0,0,0
11,12,29,5,45,90277,3,0.1,2,0,0,0,0,1,0
12,13,48,23,114,93106,2,3.8,3,0,0,1,0,0,0
13,14,59,32,40,94920,4,2.5,2,0,0,0,0,1,0
14,15,67,41,112,91741,1,2.0,1,0,0,1,0,0,0
15,16,60,30,22,95054,1,1.5,3,0,0,0,0,1,1
16,17,38,14,130,95010,4,4.7,3,134,1,0,0,0,0
17,18,42,18,81,94305,4,2.4,1,0,0,0,0,0,0
18,19,46,21,193,91604,2,8.1,3,0,1,0,0,0,0
19,20,55,28,21,94720,1,0.5,2,0,0,1,0,0,1

### Dropping Unneccessary columns

In [5]:
data = df.drop(["ID","ZIP Code"],axis=1)

### Creating Dummies for the categorical is present

In [ ]:
cat_cols = ["Family","Education","Personal Loan","Securities Account","CD Account","Online","CreditCard"]
data = pd.get_dummies(data,columns=cat_cols,drop_first=True,)

In [10]:
data.head()

,Age,Experience,Income,CCAvg,Mortgage,Family_2,Family_3,Family_4,Education_2,Education_3,Personal Loan_1,Securities Account_1,CD Account_1,Online_1,CreditCard_1
0,25,1,49,1.6,0,0,0,1,0,0,0,1,0,0,0
1,45,19,34,1.5,0,0,1,0,0,0,0,1,0,0,0
2,39,15,11,1.0,0,0,0,0,0,0,0,0,0,0,0
3,35,9,100,2.7,0,0,0,0,1,0,0,0,0,0,0
4,35,8,45,1.0,0,0,0,1,1,0,0,0,0,0,1

### Splitting the data into Training and Test

In [11]:
X = data.copy().drop("Personal Loan_1",axis=1)
y = data["Personal Loan_1"]

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=5)
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(4000, 14)
(4000,)
(1000, 14)
(1000,)

### Algorithms

#### Na√Øve Bayes Gaussian algorithm

Naive Bayes algorithm considers the variable as an independent variable.

In [13]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [14]:
model.fit(X_train,y_train)
model.score(X_test,y_test)

0.886

### Linear Discriminant Algorithm

Linear Discriminant algorithm considers that your variables are Gaussian and have same mean.

In [15]:
lda = LinearDiscriminantAnalysis()
lda.fit(X_train,y_train)
predictions_lda = lda.predict(X_test)
print("Accuracy Score is:")
print(accuracy_score(y_test, predictions_lda))

Accuracy Score is:
0.948

### Summary:

Both Linear Discriminant Algorithm (LDA) and Na√Øve Bayes (NB) are linear classifiers and come under the category of Generative Models which estimates the posterior P(class,x).

LDA is closely related to NB in that both classifiers assume Gaussian within-class distributions. However, NB relies on a less flexible distributional model .An LDA classifier is Bayes-optimal (ignoring estimation error) if the distributions corresponding to the two classes are Gaussian and have equal covariance.

In our data set we can see that Naive bayes accuracy less than that of Linear Discriminant Analysis.

So, we can conclude the LDA gives a better accuracy than Na√Øve bayes for the given data set.